* { 
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
--brand-color-light: #60A5FA;
--brand-color-dark : #1D4ED8;
--bg-color: #0F172A;
--stroke-color: #1E293B;
--text-color-primary: #F1F5F9;
--text-color-secondary: #CBD5E1;

--font-family: "Archivo", serif;
--h1: 800 24px/1.35 var(--font-family);
--h2: 800 16px/1.4 var(--font-family);
--h3: 800 14px/1.4 var(--font-family);
--text-span: 600 14px/1.45 var(--font-family);
--text: 400 16px/1.40 var(--font-family);
--text-sm: 400 14px/1.60 var(--font-family);

}

body {
  font: var(--text);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

/* tem que fazer isso para inibir as fontes do nevegador e vc conseguir mudar dps */
h1, h2, h3 {
  font: inherit;
}
